Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Geometry/
Content/Mannequin/
Content/MilitaryCharSilver/
Content/MilitaryWeapSilver/
Content/SpaceshipInterior/
Content/StarterBundle/
Content/ThirdPerson/
Content/ThirdPersonBP/
Content/StarterContent/